# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
debug/
dep/
obj/
build/

# Editors
.idea/
.vscode

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# JS
tests/node_modules
tests/lib
tests/elfs
