name: Compilation & tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  job_build_plugin_nano_s:
    name: Build plugin for Nano S
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build plugin for Nano S
        run: |
          make clean
          make BOLOS_SDK=$NANOS_SDK

  job_build_plugin_nano_x:
    name: Build plugin for Nano X
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build plugin for Nano X
        run: |
          make clean
          make BOLOS_SDK=$NANOX_SDK

  job_build_plugin_debug_nano_s:
    name: Build plugin for Nano S testing
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build plugin for Nano S
        run: |
          make clean
          make -j DEBUG=1 BOLOS_SDK=$NANOS_SDK
      - name: Move to test directory
        run: |
          mkdir -p ./tests/elfs/
          mv bin/app.elf ./tests/elfs/plugin_nanos.elf
      - name: Cache plugin
        uses: actions/cache@v1
        with:
          path: ./tests/elfs
          key: ${{ runner.os }}-${{ github.run_id }}-plugins

  job_build_plugin_debug_nano_x:
    name: Build plugin for Nano X testing
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build plugin for Nano X
        run: |
          make clean
          make -j DEBUG=1 BOLOS_SDK=$NANOX_SDK
      - name: Move to test directory
        run: |
          mkdir -p ./tests/elfs/
          mv bin/app.elf ./tests/elfs/plugin_nanox.elf
      - name: Cache plugin
        uses: actions/cache@v1
        with:
          path: ./tests/elfs
          key: ${{ runner.os }}-${{ github.run_id }}-plugins

  job_build_ethereum_nano_s:
    name: Build plugin for Nano S testing
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          repository: LedgerHQ/app-ethereum
          ref: master
      - name: Build ethereum for Nano S
        run: |
          make clean
          make -j DEBUG=1 BYPASS_SIGNATURES=1 BOLOS_SDK=$NANOS_SDK CHAIN=ethereum
      - name: Move to test directory
        run: |
          mkdir -p ./tests/elfs/
          mv bin/app.elf ./tests/elfs/ethereum_nanos.elf
      - name: Cache plugin
        uses: actions/cache@v1
        with:
          path: ./tests/elfs
          key: ${{ runner.os }}-${{ github.run_id }}-plugins

  job_build_ethereum_nano_x:
    name: Build plugin for Nano X testing
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-builder:latest

    steps:
      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          repository: LedgerHQ/app-ethereum
          ref: master
      - name: Build ethereum for Nano X
        run: |
          make clean
          make -j DEBUG=1 BYPASS_SIGNATURES=1 BOLOS_SDK=$NANOX_SDK CHAIN=ethereum
      - name: Move to test directory
        run: |
          mkdir -p ./tests/elfs/
          mv bin/app.elf ./tests/elfs/ethereum_nanox.elf
      - name: Cache plugin
        uses: actions/cache@v1
        with:
          path: ./tests/elfs
          key: ${{ runner.os }}-${{ github.run_id }}-plugins

  jobs-e2e-tests:
    name: E2E Tests
    needs: [job_build_plugin_debug_nano_s, job_build_plugin_debug_nano_x, job_build_ethereum_nano_s, job_build_ethereum_nano_x]
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          id
          echo $HOME
          echo $DISPLAY
      - name: Checkout
        uses: actions/checkout@v2
      - name: Remove default efls
        run: |
          rm -fr ./tests/elfs
      - name: Restore built plugins
        uses: actions/cache@v1
        with:
          path: ./tests/elfs
          key: ${{ runner.os }}-${{ github.run_id }}-plugins
      - name: Check'em
        run: |
          ls -lh tests/elfs/
      - run: sudo apt-get update -y && sudo apt-get install -y libusb-1.0.0 libudev-dev
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: "14.4.0"
      - name: Install yarn
        run: |
          npm install -g yarn
      - name: Build/Install build js deps
        run: |
          cd tests && yarn install
      - name: Run zemu tests
        run: |
          cd tests && yarn test
